body {
    font-family: Arial, sans-serif;
/*    display: flex;*/
    justify-content: center;
    align-items: center;
/*    height: 100vh;*/
    margin: 0;
    background-color: #f5f5f5;
}

.login-container {
    width: 30%;
    padding: 2%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    margin: 3% 10% 3% 34%;
}

    .login-container h2 {
        margin: 0;
        padding: 0 0 20px;
        font-size: 24px;
        color: #333;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    .login-container button {
        width: 100%;
        padding: 12px;
        margin: 16px 0;
        background-color: #0033CC;
        color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .login-container button:hover {
            background-color: #003399;
        }

.login-options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}

    .login-options a {
        color: #555555;
        text-decoration: none;
    }

        .login-options a:hover {
            text-decoration: underline;
        }
