body {
}

#div-pro-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-radius:5px;
    margin-bottom:10px;
}
.box-pro-dmsp{
    height: 100%;
    width:22%;
    text-align:center;
    background-color:white;
}

.size-img-dmsp {
    height: 200px;
    width: auto;
    margin-left: 20px;
    margin-top: 10px;
}
.box-describtion {
    height: 120px;
    width: auto;
    background-color: antiquewhite;
    margin-left: 20px;
    margin-top: 10px;
}
.margin-des{
    margin-left: 10px;
    margin-top:5px;
}
.box-pro-dmsp{
    margin:auto;
    margin-top:10px;
}