body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding:0;
/*    display: flex; */
    justify-content: center;
    align-items: center;
    height: 100%;
}

.order-container {
    margin: 5% 25% 5% 30%;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 600px;
}

    .order-container h1 {
        color: #2e7d32;
        font-size: 24px;
        margin-bottom: 20px;
    }

.lienhethanhtoan {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.order-info {
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
}

    .order-info h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .order-info p {
        margin: 5px 0;
    }

.product-info {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
}

.total-price {
    font-weight: bold;
    color: red;
    font-size: 20px;
}

.chiphi_tong {
    display: flex;
    justify-content: space-between;
}

.chiphi_tong_left {
    text-align: left;
}

.chitiet_tong_right {
    text-align: right;
}

.gio_tong {
    display: flex;
    align-items: center;
}

.gio_img img {
    height: 60px;
    width: 80px;
}

.gio_infor {
    margin-left: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

    .buttons a {
        text-decoration: none;
        color: blue;
        background-color: white;
        padding: 10px 20px;
        font-size: 14px;
        border: 1px solid blue;
        width: 250px;
        text-align: center;
    }

        .buttons a:hover {
            background-color: white;
        }
