<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="TNCStore" />
    <meta name="keywords" content="TNC, TNCStore, TNCStoreGaming" />
    <title>@ViewBag.Title</title>
    <style>
        h3{
            color:white;
        }
        #div-footer {
            background-color:#1a426b;

        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div id="div-footer">
        <div class="fm-social-left">
            <h3>Theo dõi chúng tôi tại</h3>
        </div>
    </div>
</body>
</html>
