
@{
    ViewBag.Title = "HoanTatThanhToan";
    Layout = "~/Views/Shared/_LayoutDivMain.cshtml";
}
<link rel="stylesheet" href="~/Content/style_XacNhan.css" />
<div class="order-container">
    <img src="~/image/verify-icon.svg" />

    <h2>MUA HÀNG THÀNH CÔNG</h2>
    <p>
        Thông tin chi tiết về đơn hàng đã được gửi đến địa chỉ email <a href="mailto:Tah02.06.05@gmail.com">Tah02.06.05@gmail.com</a>
        Nếu không tìm thấy email này, xin quý khách vui lòng kiểm tra thư mục Spam. Nếu có yêu
        cầu đặc biệt, xin quý khách vui lòng liên hệ nhân viên tư vấn tại <a href="https://www.facebook.com/profile.php?id=100033598125878" target="blank">Facebook Nguyễn Anh Đức</a> hoặc
        hotline mua hàng trực tuyến: <a href="tel:0876754228"> 0876 754 228</a>
    </p>
    <div class="lienhethanhtoan">
        <div class="order-info">
            <h3>Thông tin giao hàng</h3>
            <p><strong>Mã đơn hàng:</strong> &nbsp; #1234</p>
            <p><strong>Khách hàng:</strong> &nbsp; Anh Tuấn </p>
            <p><strong>Số điện thoại:</strong> &nbsp;0987654441</p>
            <p><strong>Email:</strong> &nbsp;hoanganhtuan@gmail.com</p>
            <p><strong>Giao đến:</strong>&nbsp;sài gòn, thành phố Hồ Chí Minh </p>
        </div>

        <div class="product-info">
            <h3> THÔNG TIN GIỎ HÀNG </h3>
            <div class="gio_tong">
                <div class="gio_img">
                    <img src="~/image/lotchuot.jpg" />
                </div>
                <div class="gio_infor">
                    <p><strong>Sản phẩm:</strong> Bàn Di Chuột Laptop TNC</p>
                    <p class="total-price">49.000đ</p>
                </div>
            </div>

        </div>

        <div class="chiphi_tong">
            <div class="chiphi_tong_left">
                <p> Tổng số lượng sản phẩm </p>
                <p> Tổng chi phí </p>
            </div>
            <div class="chitiet_tong_right">
                <p> 1</p>
                <p class="total-price"> 49.000đ </p>
                <p>Đã bao gồm VAT [nếu có]</p>
            </div>
        </div>
        <div class="buttons">
            <a href="#">Chat với TNC</a>
            <a href="~/Home/Home">Tiếp tục mua hàng</a>
        </div>
    </div>
</div>
<div style="clear:both"></div>
</body>
</html>





