
@{
    ViewBag.Title = "TNC Store - PC Gaming, ps5, ps5 slim, rtx4060, rtx4070, laptop gaming, ghế gaming. Giá rẻ, hàng CHẤT trên từng cảm nhận";
    Layout = "~/Views/Shared/_LayoutDivMain.cshtml";
}

<h2>Home</h2>

