
@{
    ViewBag.Title = "TrangSanPham_PC1";
    Layout = "~/Views/Shared/_LayoutDivMain.cshtml";
}
<link href="~/Content/Style-product-pc.css" rel="stylesheet" />
<div class="container">
    <!-- Product Section -->
    <div class="product-section">
        <div class="product-image">
            <img src="~/image/DanhMucSanPham/SanPham/pc1/pc1.2.jpg" />
            <div class="product-image_nho">
                <div class="product-image_nho_chitiet">
                    <img src="~/image/DanhMucSanPham/SanPham/pc1/pc1.2.jpg" />
                    <img src="~/image/DanhMucSanPham/SanPham/pc1/pc1.3.jpg" />
                    <img src="~/image/DanhMucSanPham/SanPham/pc1/pc1.4.jpg" />
                </div>
                <div class="product-image_nho_chitiet">
                    <img src="~/image/DanhMucSanPham/SanPham/pc1/pc1.5.jpg" />
                    <img src="~/image/DanhMucSanPham/SanPham/pc1/pc1.6.jpg" />
                    <img src="~/image/DanhMucSanPham/SanPham/pc1/pc11.jpg" />
                </div>
            </div>
        </div>
        <div class="product-details">
            <h1>PC Đỗ Đại Học 2024 NV2 - Quẩy mượt WuKong</h1>
            <div class="ttin_dagia">
                <div class="msp">
                    <p class="code">MSP:  &nbsp; &nbsp;</p>
                </div>
                <div class="danhgia">
                    <p class="text"> Đánh giá:★★★★★ &nbsp; &nbsp;</p>
                </div>
                <div class="luotxem">
                    <p class="text"> Lượt xem:84252 &nbsp; &nbsp;</p>
                </div>
            </div>
            <ul class="product-features">
                <li>CPU Intel Core i5-12400F 6C/12T (Up To 4.40GHz, 18MB, Socket 1700, Alder Lake) Hàng Tray</li>
                <li>Bo Mạch Chủ Asus Prime B760M-K D4</li>
                <li>RAM G.Skill Ripjaws V 16GB (1x16GB) DDR4 3200MHz (F4-3200C16S-16GVK)</li>
                <li>SSD Kingston A400 240GB</li>
                <li>Card Màn Hình ASUS DUAL RTX 4060 O8G V2</li>
                <li>Nguồn máy tính AIGO VK650 - 650W (85 Plus/ Active PFC/ Single Rail)</li>
                <li>Vỏ Case Xigmatek NYX III 3GF (EN44700) - Gaming M-ATX, Kèm 3 Fan Xigmatek G20F</li>
            </ul>
            <div class="chonSanPham">
                <div class="tieudesanpham">
                    <h3> Tùy chọn sản phẩm </h3>
                </div>
                <div class="luachon">
                    <div class="luachonngang">
                        <div class="luachonspcuthe">
                            <h5> PC Đỗ Đại Học 2024 NV1 </h5><br />
                            <p class="price_nho"> 16.690.000 đ </p>
                        </div>
                        <div class="luachonspcuthe">
                            <h5> PC Đỗ Đại Học 2023 </h5><br />
                            <p class="price_nho"> 17.690.000 đ </p>
                        </div>
                    </div>
                    <div class="luachonngang">
                        <div class="luachonspcuthe">
                            <h5> PC Đỗ Đại Học 2024 NV2 - Quẩy mượt... </h5><br />
                            <p class="price_nho"> 15.890.000 đ </p>
                        </div>
                        <div class="luachonspcuthe">
                            <h5> PC Đỗ Đại Học 2024 NV3 </h5><br />
                            <p class="price_nho"> 9.890.000 đ </p>
                        </div>
                    </div>
                    <div class="luachonngang">
                        <div class="luachonspcuthe">
                            <h5> PC Đỗ Đại Học 2024 NV4 </h5><br />
                            <p class="price_nho"> 5.490.000 đ </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div class="actions">
                <div class="voucher">
                    <div class="voucher_top">
                        <h3> Khuyến mãi khi mua sản phẩm </h3>
                    </div>
                    <div class="voucher_bot">
                        <ul>
                            <li> Gói quà tặng trị giá bao gồm: </li>
                            <li>- 01 Chuột Gaming Rapoo V16 Pro trị giá <b>349.000đ</b></li>
                            <li>- 01 Bàn di chuột TNC</li>
                            <li>- Giảm thêm 100K khi mang giấy báo Đỗ Đại Học đến Check-in và chụp hình kèm PC Đỗ Đại Học 2024 NV2</li>
                            <li>- Tặng Voucher 5% tối đa 500k áp dụng cho KH mua Gear</li>
                            <li>- Giảm trực tiếp 3% khi khách hàng mua thêm tản khí hoặc pack fan</li>
                            <li>- Hỗ trợ trả góp với lãi suất 0%</li>
                            <li>- Tặng Voucher 5% tối đa 150K áp dụng cho KH mua màn hình</li>
                        </ul>
                    </div>
                </div>
                <div class=" gachchanboder">
                    <div class="price_goc_giam">
                        <div>
                            <p class="price">
                                15.890.000đ
                            </p>
                        </div>
                        <div class="price_giam">
                            <p>16.590.000đ</p>
                        </div>
                        <div class="phamtramKM">
                            <p>
                                -5%
                            </p>
                        </div>
                    </div>
                    <div class="baohanh">
                        <p> Bảo hành theo linh kiện </p>
                    </div>
                </div>
                <label for="quantity"> Số lượng: </label>
                <input type="number" id="quantity" value="1" min="1">
                <br />
                <button class="add-to-cart">Thêm Vào Giỏ Hàng</button>
                <a href="~/Home/ThanhToan"><button class="buy-now">Mua Ngay</button></a>
            </div>

            <div class="support">
                <ul>
                    <li>Hỗ trợ trả góp 0%</li>
                    <li>Hoàn tiền 200% nếu có hàng giả</li>
                    <li>Giao hàng toàn quốc</li>
                    <li>Hỗ trợ kỹ thuật 24/7</li>
                    <li>Vệ sinh miễn phí PC, Laptop trọn đời</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Description Section -->
    <div class="funtion">
        <div class="left_bonus">
            <div class="description-section">
                <h2>MÔ TẢ SẢN PHẨM</h2>
                <div class="mota">
                    <h3> Đánh Giá Chi Tiết PC Đỗ Đại Học 2024 NV2 </h3>
                </div>
                <p>
                    Siêu phẩm PC đỗ đại học 2024 NV2 dành cho các bạn sinh viên
                    tới rồi đây! TNC Store giới thiệu đến bạn bộ PC với ngoại hình
                    hoàn hảo cùng hiệu năng ấn tượng chắc chắn sẽ không làm bạn thất
                    vọng.
                </p>

                <div class="mota">
                    <h3>CPU Intel Core i5 12400F 6C/12T -  PC Đỗ Đại Học 2024 NV2 </h3>
                </div>
                <p>
                    Bộ vi xử lý Intel Core i5 12400F của  PC Đỗ Đại Học 2024 NV2 với
                    6 lõi và 12 luồng mạnh mẽ, được cung cấp sức mạnh từ nền tảng LGA
                    1700 và kiến ​​trúc Alder Lake hiện đại, giúp mang lại hiệu năng vượt
                    trội so với người anh em thế hệ trước. Ngoài ra, CPU tương thích
                    với nhiều bo mạch chủ phổ biến như H610, B660, H670 và Z690 để đảm
                    bảo trải nghiệm tuyệt vời cho bộ PC này.
                </p>
                <img src="~/image/DanhMucSanPham/SanPham/pc1/mota.png" />
                <div class="mota">
                    <h3>Bo mạch chủ Asus Prime B760M K D4 </h3>
                </div>
                <p>
                    Là một trong những linh kiện góp phần tạo nên hiệu năng cho PC đỗ
                    đại học, Mainboard Asus Prime B760M K với khả năng tương thích vượt
                    trội và những tính năng tiên tiến sản phẩm này sẽ đưa trải nghiệm đồ
                    họa của bạn lên một tầm cao mới.
                </p>
                <img src="~/image/DanhMucSanPham/SanPham/pc1/tnc-store-pc-do-dai-hoc-2024-nv25.png" />
            </div>


            <div class="review">
                <h2> Video Review </h2>
                <p> Video đang được cập nhật </p>

            </div>

            <!-- Reviews Section -->
            <div class="reviews-section">
                <h2>Đánh giá của khách hàng</h2>
                <div class="rating">
                    <span> 5 ★</span>
                    <div class="bar"><div class="fill"></div></div>

                    <button class="write-review">Viết đánh giá</button>
                </div>
            </div>
        </div>

        <!-- Related News Section -->
        <div class="right_bonus">
            <div class="info-section">
                <h2>THÔNG SỐ KĨ THUẬT</h2>
                <div class="linhkien">
                    <div class="linhkien_left">
                        <p> CPU </p>
                    </div>
                    <div class="linhkien_right">
                        <p>
                            CPU Intel Core i5-12400F 6C/12T
                            (Up To 4.40GHz, 18MB, Socket 1700,
                            Alder Lake) Hàng Tray
                        </p>
                    </div>
                </div>
                <div class="linhkien1">
                    <div class="linhkien_left">
                        <p> Bo Mạch Chủ </p>
                    </div>
                    <div class="linhkien_right">
                        <p>
                            Asus Prime B760M-K D4
                        </p>
                    </div>
                </div>
                <div class="linhkien">
                    <div class="linhkien_left">
                        <p> RAM </p>
                    </div>
                    <div class="linhkien_right">
                        <p>
                            G.Skill Ripjaws V 16GB (1x16GB) DDR4 3200MHz
                            (F4-3200C16S-16GVK)
                        </p>
                    </div>
                </div>
                <div class="linhkien1">
                    <div class="linhkien_left">
                        <p> Card Màn Hình </p>
                    </div>
                    <div class="linhkien_right">
                        <p>
                            ASUS DUAL RTX 4060 O8G V2
                        </p>
                    </div>
                </div>
                <div class="linhkien">
                    <div class="linhkien_left">
                        <p> Nguồn </p>
                    </div>
                    <div class="linhkien_right">
                        <p>
                            AIGO VK650 - 650W (85 Plus/ Active PFC/ Single Rail)
                        </p>
                    </div>
                </div>
            </div>
            <div class="related-news-section">
                <h2>TIN TỨC LIÊN QUAN</h2>
                <ul>
                    <li><a href="#">Cách Khắc Phục Lỗi Click Chuột Trái Ra Properties...</a></li>
                    <li><a href="#">Silent Hill Hé Lộ Trò Chơi Nhập Vai Mới</a></li>
                    <li><a href="#">DTCL Mùa 11: Cách Chơi Đội Hình Sưngra Định Mệnh</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

