
@{
    ViewBag.Title = "TrangSanPham_PC2";
    Layout = "~/Views/Shared/_LayoutDivMain.cshtml";
}
<link href="~/Content/Style-product-pc.css" rel="stylesheet" />
<div class="container">
    <!-- Product Section -->
    <div class="product-section">
        <div class="product-image">
            <img src="~/image/DanhMucSanPham/SanPham/pc2/pc2.1.jpg" />
            <div class="product-image_nho">
                <div class="product-image_nho_chitiet">
                    <img src="~/image/DanhMucSanPham/SanPham/pc2/pc2.1.jpg" />
                    <img src="~/image/DanhMucSanPham/SanPham/pc2/pc2.2.jpg" />
                    <img src="~/image/DanhMucSanPham/SanPham/pc2/pc2.3.jpg" />
                </div>
                <div class="product-image_nho_chitiet">
                    <img src="~/image/DanhMucSanPham/SanPham/pc2/pc2.4.jpg" />
                    <img src="~/image/DanhMucSanPham/SanPham/pc2/pc2.5.jpg" />
                    <img src="~/image/DanhMucSanPham/SanPham/pc2/pc2.6.jpg" />
                </div>
            </div>
        </div>
        <div class="product-details">
            <h1>PC Đỗ Đại Học 2024 NV1</h1>
            <div class="ttin_dagia">
                <div class="msp">
                    <p class="code">MSP:  &nbsp; &nbsp;</p>
                </div>
                <div class="danhgia">
                    <p class="text"> Đánh giá:★★★★★ &nbsp; &nbsp;</p>
                </div>
                <div class="luotxem">
                    <p class="text"> Lượt xem:29047 &nbsp; &nbsp;</p>
                </div>
            </div>
            <ul class="product-features">
                <li>CPU Intel Core i5-12400F 6C/12T (Up To 4.40GHz, 18MB, Socket 1700, Alder Lake) Hàng Tray</li>
                <li>Bo Mạch Chủ Asus Prime B760M-K D4</li>
                <li>RAM: Kingston Fury Beast 8GB Bus 3200 MHz (KF432C16BB/8) x2</li>
                <li>SSD: Apacer AS2280P4 512GB PCIe NVMe 3x4 (AP512GAS2280P4-1)</li>
                <li>Card Màn Hình: Colorful RTX 3060 NB DUO 12G V2 L-V</li>
                <li>Nguồn máy tính AIGO VK650 - 650W (85 Plus/ Active PFC/ Single Rail)</li>
                <li>Card Màn Hình: Colorful RTX 3060 NB DUO 12G V2 L-V</li>
            </ul>
            <div class="chonSanPham">
                <div class="tieudesanpham">
                    <h3> Tùy chọn sản phẩm </h3>
                </div>
                <div class="luachon">
                    <div class="luachonngang">
                        <div class="luachonspcuthe">
                            <h5> PC Đỗ Đại Học 2024 NV1 </h5><br />
                            <p class="price_nho"> 16.690.000 đ </p>
                        </div>
                        <div class="luachonspcuthe">
                            <h5> PC Đỗ Đại Học 2023 </h5><br />
                            <p class="price_nho"> 17.690.000 đ </p>
                        </div>
                    </div>
                    <div class="luachonngang">
                        <div class="luachonspcuthe">
                            <h5> PC Đỗ Đại Học 2024 NV2 - Quẩy mượt... </h5><br />
                            <p class="price_nho"> 15.890.000 đ </p>
                        </div>
                        <div class="luachonspcuthe">
                            <h5> PC Đỗ Đại Học 2024 NV3 </h5><br />
                            <p class="price_nho"> 9.890.000 đ </p>
                        </div>
                    </div>
                    <div class="luachonngang">
                        <div class="luachonspcuthe">
                            <h5> PC Đỗ Đại Học 2024 NV4 </h5><br />
                            <p class="price_nho"> 5.490.000 đ </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div class="actions">
                <div class="voucher">
                    <div class="voucher_top">
                        <h3> Khuyến mãi khi mua sản phẩm </h3>
                    </div>
                    <div class="voucher_bot">
                        <ul>
                            <li> Gói quà tặng trị giá bao gồm: </li>
                            <li>- 01 Chuột Gaming Rapoo V16 Pro trị giá <b>349.000đ</b></li>
                            <li>- 01 Bàn di chuột TNC</li>
                            <li>- Giảm thêm 100K khi mang giấy báo Đỗ Đại Học đến Check-in và chụp hình kèm PC Đỗ Đại Học 2024 NV2</li>
                            <li>- Tặng Voucher 5% tối đa 500k áp dụng cho KH mua Gear</li>
                            <li>- Giảm trực tiếp 3% khi khách hàng mua thêm tản khí hoặc pack fan</li>
                            <li>- Hỗ trợ trả góp với lãi suất 0%</li>
                            <li>- Tặng Voucher 5% tối đa 150K áp dụng cho KH mua màn hình</li>
                        </ul>
                    </div>
                </div>
                <div class=" gachchanboder">
                    <div class="price_goc_giam">
                        <div>
                            <p class="price">
                                15.890.000đ
                            </p>
                        </div>
                        <div class="price_giam">
                            <p>16.590.000đ</p>
                        </div>
                        <div class="phamtramKM">
                            <p>
                                -5%
                            </p>
                        </div>
                    </div>
                    <div class="baohanh">
                        <p> Bảo hành theo linh kiện </p>
                    </div>
                </div>
                <label for="quantity"> Số lượng: </label>
                <input type="number" id="quantity" value="1" min="1">
                <br />
                <button class="add-to-cart">Thêm Vào Giỏ Hàng</button>
                <a href="~/Home/ThanhToan"><button class="buy-now">Mua Ngay</button></a>
            </div>

            <div class="support">
                <ul>
                    <li>Hỗ trợ trả góp 0%</li>
                    <li>Hoàn tiền 200% nếu có hàng giả</li>
                    <li>Giao hàng toàn quốc</li>
                    <li>Hỗ trợ kỹ thuật 24/7</li>
                    <li>Vệ sinh miễn phí PC, Laptop trọn đời</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Description Section -->
    <div class="funtion">
        <div class="left_bonus">
            <div class="description-section">
                <h2>MÔ TẢ SẢN PHẨM</h2>
                <div class="mota">
                    <h3> Đánh Giá Chi Tiết PC Đỗ Đại Học 2024 </h3>
                </div>
                <p>
                    VIDEO
                </p>

                <div class="mota">
                    <h3>CPU Intel Core i5-12400F Hàng Tray - PC Đỗ Đại Học 2024 </h3>
                </div>
                <p>
                    Với 6 lõi và 12 luồng mạnh mẽ, CPU Intel Core i5 - 12400F được cung cấp
                    sức mạnh từ nền tảng LGA 1700 và kiến ​​trúc Alder Lake hiện đại, giúp mang
                    lại hiệu năng vượt trội so với người anh em thế hệ trước. Ngoài ra, CPU tương
                    thích với nhiều bo mạch chủ phổ biến như H610, B660, H670 và Z690 để đảm bảo
                    trải nghiệm tuyệt vời.
                </p>
                <img src="~/image/DanhMucSanPham/SanPham/pc2/pcmt1.jpg" />
                <div class="mota">
                    <h3>Bo mạch chủ Asus Prime B760M K D4 </h3>
                </div>
                <p>
                    Bo Mạch Chủ Asus Prime B760M-K D4 được thiết kế chuyên nghiệp để giải phóng
                    toàn bộ tiềm năng của Bộ xử lý Intel Core thế hệ thứ 13. Tự hào mainboard
                    thiết kế năng lượng mạnh mẽ, giải pháp làm mát toàn diện và các tùy chọn
                    điều chỉnh thông minh, PRIME B760M-K D4 cung cấp cho người dùng và nhà chế
                    tạo PC DIY một loạt các tối ưu hóa hiệu suất thông qua các tính năng phần
                    mềm và phần mềm trực quan.
                </p>
                <img src="~/image/DanhMucSanPham/SanPham/pc2/pcmt2.jpg" />
            </div>


            <div class="review">
                <h2> Video Review </h2>
                <p> Video đang được cập nhật </p>

            </div>

            <!-- Reviews Section -->
            <div class="reviews-section">
                <h2>Đánh giá của khách hàng</h2>
                <div class="rating">
                    <span> 5 ★</span>
                    <div class="bar"><div class="fill"></div></div>

                    <button class="write-review">Viết đánh giá</button>
                </div>
            </div>
        </div>

        <!-- Related News Section -->
        <div class="right_bonus">
            <div class="info-section">
                <h2>THÔNG SỐ KĨ THUẬT</h2>
                <div class="linhkien">
                    <div class="linhkien_left">
                        <p> CPU </p>
                    </div>
                    <div class="linhkien_right">
                        <p>
                            CPU Intel Core i5-12400F 6C/12T
                            (Up To 4.40GHz, 18MB, Socket 1700,
                            Alder Lake) Hàng Tray
                        </p>
                    </div>
                </div>
                <div class="linhkien1">
                    <div class="linhkien_left">
                        <p> Bo Mạch Chủ </p>
                    </div>
                    <div class="linhkien_right">
                        <p>
                            Asus Prime B760M-K D4
                        </p>
                    </div>
                </div>
                <div class="linhkien">
                    <div class="linhkien_left">
                        <p> RAM </p>
                    </div>
                    <div class="linhkien_right">
                        <p>
                            G.Skill Ripjaws V 16GB (1x16GB) DDR4 3200MHz
                            (F4-3200C16S-16GVK)
                        </p>
                    </div>
                </div>
                <div class="linhkien1">
                    <div class="linhkien_left">
                        <p> Card Màn Hình </p>
                    </div>
                    <div class="linhkien_right">
                        <p>
                            ASUS DUAL RTX 4060 O8G V2
                        </p>
                    </div>
                </div>
                <div class="linhkien">
                    <div class="linhkien_left">
                        <p> Nguồn </p>
                    </div>
                    <div class="linhkien_right">
                        <p>
                            AIGO VK650 - 650W (85 Plus/ Active PFC/ Single Rail)
                        </p>
                    </div>
                </div>
            </div>
            <div class="related-news-section">
                <h2>TIN TỨC LIÊN QUAN</h2>
                <ul>
                    <li><a href="#">Cách Khắc Phục Lỗi Click Chuột Trái Ra Properties...</a></li>
                    <li><a href="#">Silent Hill Hé Lộ Trò Chơi Nhập Vai Mới</a></li>
                    <li><a href="#">DTCL Mùa 11: Cách Chơi Đội Hình Sưngra Định Mệnh</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

