@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
@{
    ViewBag.Title = "PCGaming";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/stylepro.css" />
<ins><b><h2 style="text-align: left">PC GAMING</h2></b></ins>
<div id="div-pro-list">
    <div class="box-pro">
        <img src="~/Images/250-11014-pc-do-dai-hoc-2024--7-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des"> PC Đỗ Đại Học 2024 NV1 </p>
            <br />
            <p> <del> 16.990.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>16.690.000đ</b> </p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-11093-pc-do-dai-hoc-2024-nv2.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des"> PC Đỗ Đại Học 2024 NV2 - Quẩy mượt WuKong </p>
            <p> <del>  16.590.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>15.890.000đ</b> </p>

        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-10704-tnc-store-pc-gaming-nova-i4070ti-super-bl-15-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Nova I4070Ti Super - BL</p>
            <br />
            <p> <del> 65.990.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>56.590.000đ</b> </p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-10490-sniper-i4060---wh--.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sniper I4060 - WH</p>
            <br />
            <p> <del> 20.990.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"><b>18.590.000đ</b></p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-9979-pc-gaming-sentinel-i4090-wh--16-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sentinel I4090 - WH</p>
            <br />
            <p> <del>120.990.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"><b>108.990.000đ</b></p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-9204-pc-gaming-sentinal-i4090-eva-02-limited-edition-01--16-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sentinal I4090 Eva 02 Limited Edition 01</p>
            <p> <del> 135.990.000đ</p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>129.990.000đ</b> </p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-8959-z5869321085840_ac1dec54c8a48064e72439877728322c.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sniper I4060 - BL</p>
            <br />
            <p> <del> 28.990.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"><b>18.990.000đ</b></p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-8374-pc-gaming-sentinel-i4090-bl-01--16-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sentinel I4090 - BL - 01</p>
            <br />
            <br />
            <p style=" color:#b81414" class="margin-des"> <b>114.790.000đ</b></p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-7799-tnc-store-pc-gaming-sentinel-i4090-bl-11-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sentinel I4090 - BL</p>
            <br />
            <p> <del> 138.510.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>116.799.000đ</b></p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-7786-tnc-store-pc-gaming-glacier-i6600-13-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming Glacier i6600</p>
            <br />
            <p> <del> 14.790.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>13.790.000đ </b></p>
        </div>
    </div>
</div>

@{
    ViewBag.Title = "PCGaming";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/stylepro.css" />
<ins><b><h2 style="text-align: left">PC GAMING</h2></b></ins>
<div id="div-pro-list">
    <div class="box-pro">
        <img src="~/Images/250-11014-pc-do-dai-hoc-2024--7-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des"> PC Đỗ Đại Học 2024 NV1 </p>
            <br />
            <p> <del> 16.990.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>16.690.000đ</b> </p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-11093-pc-do-dai-hoc-2024-nv2.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des"> PC Đỗ Đại Học 2024 NV2 - Quẩy mượt WuKong </p>
            <p> <del>  16.590.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>15.890.000đ</b> </p>

        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-10704-tnc-store-pc-gaming-nova-i4070ti-super-bl-15-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Nova I4070Ti Super - BL</p>
            <br />
            <p> <del> 65.990.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>56.590.000đ</b> </p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-10490-sniper-i4060---wh--.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sniper I4060 - WH</p>
            <br />
            <p> <del> 20.990.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"><b>18.590.000đ</b></p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-9979-pc-gaming-sentinel-i4090-wh--16-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sentinel I4090 - WH</p>
            <br />
            <p> <del>120.990.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"><b>108.990.000đ</b></p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-9204-pc-gaming-sentinal-i4090-eva-02-limited-edition-01--16-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sentinal I4090 Eva 02 Limited Edition 01</p>
            <p> <del> 135.990.000đ</p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>129.990.000đ</b> </p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-8959-z5869321085840_ac1dec54c8a48064e72439877728322c.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sniper I4060 - BL</p>
            <br />
            <p> <del> 28.990.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"><b>18.990.000đ</b></p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-8374-pc-gaming-sentinel-i4090-bl-01--16-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sentinel I4090 - BL - 01</p>
            <br />
            <br />
            <p style=" color:#b81414" class="margin-des"> <b>114.790.000đ</b></p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-7799-tnc-store-pc-gaming-sentinel-i4090-bl-11-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming - Sentinel I4090 - BL</p>
            <br />
            <p> <del> 138.510.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>116.799.000đ</b></p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-7786-tnc-store-pc-gaming-glacier-i6600-13-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">PC Gaming Glacier i6600</p>
            <br />
            <p> <del> 14.790.000đ </p> </del>
            <p style=" color:#b81414" class="margin-des"> <b>13.790.000đ </b></p>
        </div>
    </div>
</div>

