@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
@{
    ViewBag.Title = "PCGaming";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/stylepro.css" />
<ins><b><h2 style="text-align: left">PC GAMING</h2></b></ins>
<div id="div-pro-list">
    <div class="box-pro">
        <img src="~/Images/250-11014-pc-do-dai-hoc-2024--7-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-11093-pc-do-dai-hoc-2024-nv2.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>

        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-10704-tnc-store-pc-gaming-nova-i4070ti-super-bl-15-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-11014-pc-do-dai-hoc-2024--7-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-11014-pc-do-dai-hoc-2024--7-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-11014-pc-do-dai-hoc-2024--7-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-11014-pc-do-dai-hoc-2024--7-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-11014-pc-do-dai-hoc-2024--7-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">

        <img src="~/Images/250-11014-pc-do-dai-hoc-2024--7-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box-pro">
        <img src="~/Images/250-11014-pc-do-dai-hoc-2024--7-.jpg" class="size-img" />
        <div class="box-description">
            <p class="margin-des">Tên SP: ASUS</p>
            <p class="margin-des">Giá: 10.000.000</p>
        </div>
    </div>
</div>

body {
}

#div-pro-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
 /*   background-color:white;*/
/*    width:200px;
    height:300px;*/
    border-radius:5px;
    margin-bottom:10px;
}
.box-pro{
    height:350px;
    width:280px;
    text-align:center;
    background-color:white;

}

.size-img{
    height:200px;
    width:auto;
    margin-left:20px;
    margin-top:10px;
}
.box-describtion{
    height:120px;
    width:auto;
    background-color:gray;
    margin-left:20px;
    margin-top:10px;
}
.margin-des{
    margin-left: 10px;
    margin-top:5px;
}
.box-pro{
    margin:auto;
    margin-top:10px;
}
